@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #DEDEDE;
    font-family: 'Roboto',sans-serif;
}
h3{
    font-family: 'Roboto',sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #2E2E2E;
    letter-spacing: 0%;
}
#background{
    width: 100%;
    height: auto;
}
#background span{
    width: 100%;
    height: 500px;
    background-image: url("Assets/background_hungry.jpg");
    background-size: cover;
    background-position-y: 80%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    
}
#hamburger{
    display: none;
}
#menu{
    width: 75%;
    height: 4.375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    box-shadow: 0 1px 3px 0 rgba(78, 77, 77, 0.6)
}
#logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    color: #2E2E2E;
    padding: 0px 30px;
    font-family: 'Libre Barcode 128 Text', cursive;
}
#menubar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
#list_item{
    
    padding: 0px 15px;
    position: relative;
}
#list_item a{
    text-decoration: none;
    color: #6A6A6A;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.3s;
}

#list_item a:hover,
#list_item a.active{
    color: #49a660;
}
#list_item a.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #49a660;
    position: absolute;
    bottom: -25px;
    left: 0px;
    animation: slide 0.3s linear;
}
@keyframes slide {
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}
#profile{
    width: 100%;
    height: auto;
    background: #dfdfdf;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#p-card{
    width: 75%;
    height: 450px;
    background: #FFF;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6) ;
    border-radius: 2px;
    margin-top: -300px;
    z-index: 2;
}
#image{
    padding: 0px 70px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image img{
    width: 250px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid #67a788;
}
#image ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
#image ul li{
    padding: 20px 15px;
}
#image a{
    color: #6A6A6A;
    transition: 0.3s ease;
}
#fb:hover{
    color: #3b5998;
}
#ig:hover{
    color: #fa7e1e;
}
#tw:hover{
    color: #00acee;
}
#ln:hover{
    color: #0072b1;
}
#gh:hover{
    color: #333333;
}
#details{
    padding: 20px 20px;
}
#details h1{
    font-family: 'Roboto', sans-serif;
    color: #2E2E2E;
    font-weight: 500;
    font-size: 42px;
    line-height: 0px;
}
#details h4{
    font-family: 'Roboto', sans-serif;
    color: #2E2E2E;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#details img{
    width:30px;
    height:30px;
    padding-right: 5px;
}
#details table{
    width: 100%;
    margin-top: 10px;
}
#details table tr td{
    padding-right: 0px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #6A6A6A;
}
#details table tr td.head{
    width: 120px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #2E2E2E;
}
#details table tr{
    padding: 10px 0px;
    display: block;
}
#details button{
    width: 130px;
    height: 40px;
    margin: 10px 20px 20px 0px;
    border-style: none;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500px;
    border-radius: 2px;
    color:#FFF;
    transition: .3s ease;
}
#details button.dnld{
    background: #49a660;
}
#details button.dnld:hover{
    background: #1aa33c;
}
#details button.cnt{
    background: #0565f4;
}
#details button.cnt:hover{
    background: #337dec;
}
#skills{
    width: 100%;
    height: auto;
    background: #dfdfdf;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 90px;
}
#cont-skills{
    width:75%;
    background: #dfdfdf;
    display: flex;
    justify-content: space-between;

}
#T-skills, #S-skills{
    width: 42%;
    height: 250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    padding-bottom: 50px;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
    border-radius: 2px;
}
#bars{
    width:100%;
}
#bars p{
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
    padding: 10px 0px 0px 0px;
}
#container {
    background-color: #c0c0c0;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.skill {
    color: white;
    padding: 0.2% ;
    border-radius: 15px;
}

.js {
    width: 80%;
    background-color: #FF671F;
}
.js::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#FF671F;
    position: absolute;
    left: 80%;
    margin-top:-5px;
}
.html{
    width:95%;
    background-color: #06038D;
}
.html::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#06038D;
    position: absolute;
    left: 95%;
    margin-top:-5px;
}
.css{
    width: 90%;
    background-color: #046A38;
}
.css::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#046A38;
    position: absolute;
    left: 90%;
    margin-top:-5px;
}
.com{
    width: 80%;
    background-color: #FF671F;
}
.com::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#FF671F;
    position: absolute;
    left: 80%;
    margin-top:-5px;
}
.lead{
    width: 90%;
    background-color: #06038D;
}
.lead::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#06038D;
    position: absolute;
    left: 90%;
    margin-top:-5px;
}
.sales{
    width: 75%;
    background-color: #046A38;
}
.sales::before{
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:#046A38;
    position: absolute;
    left: 75%;
    margin-top:-5px;
}
#education{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
#edu-container{
    width: 75%;
}
#timeline{
    position: relative;
    width: 100%;
    margin: 0px auto;
    
}
#timeline::after{
    content: "";
    width: 6px;
    position: absolute;
    background-color: #FFF;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 3px;
}
.box{
    padding: 10px 40px;
    width: 35%;
    position: relative;
    background-color: inherit;
}
.box::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #49a660;
    background-color: #FFF;
    top: 15px;
    right: -80px;
    z-index: 1;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
}
.left{
    left: 0;
}
.right{
    left:50%;
}
.left::before{
    content: "";
    height: 0;
    position: absolute;
    top: 19px;
    width: 0;
    z-index: 1;
    right: -30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before{
    content: "";
    height: 0;
    position: absolute;
    top: 19px;
    width:0;
    z-index: 1;
    right: 371px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after{
    left: -7px;
}
#content{
    padding: 10px 30px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
    border-radius: 2px;
}
#content::before{
    content: "";
    width: 100%;
    height: 3px;
    top: 0px;
    background: #49a660;
}
#content h4{
    font-family: 'Roboto';
    font-weight: 200px;
    font-size: 18px;
    color: #2E2E2E;
}
#content p{
    font-family: 'Roboto';
    font-weight: 200px;
    font-size: 14px;
    color: #2E2E2E;
}
#contact{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
#cont-container{
    width: 75%;
}
#cont-container h3{
    padding: 10px 0px;
}
#contact-forms{
    display: flex;
    justify-content: space-between;
    height: 690px;
}
#form{
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
}
form{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#form p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #2E2E2E;
    font-weight: 400;
    margin: 50px 30px;
    margin-bottom: 30px;
}
.fmdsng{
    width: 90%;
    border-style: none;
    border-bottom: 1px solid #2E2E2E;
    transition: 0.5s ease-out;
    animation: forwards;
    margin: 40px 30px;
}
.fmdsng:focus{
    border-style: none;
    border-bottom: 2px solid #49a660;
    outline: none;
    color: #49a660;
}
.fmdsng::placeholder{
    color:#aaaaaa;
}
.fmdsng:focus::placeholder{
    color:#49a660;
}
#fsubmit{
    width: 130px;
    height: 40px;
    margin: 10px 20px 20px 0px;
    border-style: none;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500px;
    border-radius: 2px;
    color:#FFF;
    transition: .3s ease;
    background: #49a660;
    text-align: center;
    margin: 10px 20px;
}
#fsubmit:hover{
    background: #1aa33c;
}
#contact-card{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
}
#way2cont{
    width: 90%;
    list-style: none;
    padding-left: 0;
}
#way2cont li i{
    color: #49a660;
    padding-right: 15px;
    width: 30px;
    height: 30px;
    padding: 30px 0;
    padding-top: 50px;
}
#way2cont li a{
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #2E2E2E;
    letter-spacing: 0%;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease;
    padding: 5px 10px;
}
#way2cont li a:hover{
    font-size: 28px;
    font-weight: 400;
    color: #1aa33c;
}
#way2cont li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#social{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-top: 50px;
}
#social li{
    padding: 20px 15px;
}
#social a{
    color: #6A6A6A;
    transition: 0.3s ease;
}
#fb:hover{
    color: #3b5998;
}
#ig:hover{
    color: #fa7e1e;
}
#tw:hover{
    color: #00acee;
}
#ln:hover{
    color: #0072b1;
}
#Footer{
    width: 100%;
    height: auto;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#foot{
    width: 30%;
}
#MainFoot{
    font-family: 'Roboto';
    font-size: 18px;
    color: #2E2E2E;
    font-weight: 400;
    text-align: center;
}
#subFoot{
    font-family: 'Roboto';
    font-size: 14px;
    color: #6A6A6A;
    font-weight: 400;
    text-align: center;
}
#line{
    width: 50%;
    height: 2px;
    background: #49a660;
    margin: 0 auto;
}
#back2top{
    width: 100%;
    height: auto;
    display: block;
}
#top{
    width: 100%;
    color: #2E2E2E;
}
#top span{
    position: fixed;
    top: 90%;
    right: 3%;
    z-index: 999;
    width: auto;
    height: auto;
    padding: 15px;
    background: rgba(73, 166, 96,0.4);
    color: #FFF;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
    border-radius: 5px;
    text-align: center;
}
#top span:hover{
    background: rgba(73, 166, 96,1);
}
#edit{
    width: 100%;
    color: #2E2E2E;
}
#edit span{
    position: fixed;
    top: 80%;
    right: 3%;
    z-index: 999;
    width: auto;
    height: auto;
    padding: 15px;
    background: rgba(215, 127, 4, 0.596);
    color: #FFF;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
    border-radius: 5px;
    text-align: center;
}
#edit span:hover{
    background: rgba(73, 166, 96,1);
}
.hide{
    display: none;
}
.show{
    display: flex;
}
#to-edit{
    width: 15%;
    height: auto;
    z-index: 990;
    box-shadow: 0 0 15px 0 rgba(114, 114, 114, 0.6);
    border-radius: 5px;
    background: white;
    position: fixed;
    left: 77%;
    top: 54%
}
#to-edit h4{
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
#img-holder{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 30px 0;
    padding-bottom: 30px;
    place-items: center;
}
.image-container{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-x: 30%;
    cursor: pointer;
}
#img1{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/16/13/00/rain-stoppers-1461288_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#img2{
    background-image: url('https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
#img3{
    background-image: url('https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_1280.jpg');
    background-size: cover;
}
#img4{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821_1280.jpg');
    background-size: cover;
}
.image-container:hover{
    opacity: 70%;
}
#to-edit::after{
    content: "";
    height: 0;
    position: absolute;
    top: 80%;
    width:0;
    z-index: 1;
    left: 100%;
    border: medium solid white;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent white;
}